{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "baseUrl": "./src",
    "paths": {
      "@uuid": ["uuid.ts"]
    },
    "loose": false,
    "target": "es2015",
    "externalHelpers": true
  },
  "module": {
    "type": "commonjs"
  }
}
